.background-button {
    -fx-cursor: hand;
    -fx-background-color: #2D2D2D;
    -fx-background-radius: 8px;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.background-button:disabled {
    -fx-border-insets: -2px;
    -fx-border-width: 2px;
    -fx-border-radius: 9px;
    -fx-border-color: rgb(33, 133, 233);
    -fx-opacity: 1;
}