@font-face {
    src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
    src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    src: url("/fonts/Montserrat-Bold.ttf");
}

.root {
    -fx-background-color: transparent;
}

.main-pane {
    -fx-background-color: transparent;
}

.shadow-pane {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

.background-image {
    -fx-min-width: 100%;
    -fx-min-height: 100%;
}

.logo {

}

.servers-pane-background {
    -fx-background-color: rgb(34, 34, 34);
}

.form-pane {
    -fx-background-color: rgb(16, 19, 19);
    -fx-border-radius: 11px;
    -fx-background-radius: 11px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
}

.background-darkness {
    -fx-background-color: rgba(47, 47, 47, 0.42);
}

.form-label {
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
    -fx-font-size: 23px;
}

.cristalix-text-field {
    -fx-font-family: "Montserrat Medium";
    -fx-background-color: rgb(34, 34, 34);
    -fx-background-radius: 11px;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-accent: rgb(42, 102, 189);
}

.cristalix-text-field:hover {
    -fx-border-radius: 11px;
    -fx-border-color: rgb(48, 48, 48);
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
}

.cristalix-button {
    -fx-cursor: hand;
    -fx-font-family: "Montserrat Medium";
    -fx-background-color: rgb(45, 45, 45);
    -fx-background-radius: 8px;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-background-insets: 0;
}

.cristalix-button:hover {
    -fx-background-color: rgb(42, 102, 189);
}

.cristalix-button:pressed {
    -fx-background-color: rgb(39, 84, 149);
}

.background-dark {
    -fx-background-color: rgb(16, 19, 19);
}

.loading-big-label {
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: white;
    -fx-font-size: 23px;
}

.loading-error-label {
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: rgb(223, 31, 47);
    -fx-font-size: 23px;
}

.loading-small-label {
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.global-buttons {
}

.settings-button {
    -fx-cursor: hand;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-background-color: transparent;
    -fx-background-radius: 8px 0 0 8px;
    -fx-padding: 8px;
}

.settings-button:disabled {
    -fx-text-fill: rgba(255, 255, 255, 0.4);
    -fx-opacity: 1;
}

.settings-button:hover {
    -fx-background-color: rgba(16, 19, 19, 0.1);
}

.settings-button:pressed {
    -fx-background-color: rgba(16, 19, 19, 0.67);
}

.minimize-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.minimize-button:hover {
    -fx-background-color: rgba(16, 19, 19, 0.1);
}

.minimize-button:pressed {
    -fx-background-color: rgba(16, 19, 19, 0.67);
}

.close-button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-radius: 0 8px 8px 0;
    -fx-padding: 0;
}

.close-button:hover {
    -fx-background-color: rgba(16, 19, 19, 0.1);
}

.close-button:pressed {
    -fx-background-color: rgba(211, 0, 0, 0.67);
}

.transparent-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.transparent-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.servers-scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.servers-scroll-bar .increment-arrow, .servers-scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.servers-scroll-bar .increment-button, .servers-scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0;
}

.servers-scroll-bar .thumb {
    -fx-background-color: rgba(42, 102, 189, 0.4);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 4px;
    -fx-padding: 0;
}

.servers-scroll-bar .track {
    -fx-padding: 0;
}

.news-scroll-bar {
    -fx-background-color: rgba(0, 0, 0, 0.08);
    -fx-background-radius: 4px;
    -fx-padding: 0;
}

.news-scroll-bar .increment-arrow, .news-scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.news-scroll-bar .increment-button, .news-scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0;
}

.news-scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.67);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 4px;
    -fx-padding: 0;
}

.servers-scroll-bar .track {
    -fx-padding: 0;
}

.info-block-label {
    -fx-font-size: 23px;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
}

.text-button {
    -fx-cursor: hand;
    -fx-font-family: "Montserrat Bold";
    -fx-background-color: transparent;
    -fx-text-fill: rgba(255, 255, 255, 0.4);
    -fx-font-size: 21px;
    -fx-padding: 0;
}

.text-button:hover {
    -fx-text-fill: white;
}

.text-button:disabled {
    -fx-cursor: default;
    -fx-text-fill: white;
    -fx-opacity: 1;
}


.cristalix-animation-diamond {
    -fx-background-color: white;
    -fx-rotate: 45deg;
}

.settings-font {
    -fx-font-size: 18px;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
}

.settings-checkbox {
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
}

.settings-checkbox > .box {
    -fx-background-color: rgb(34, 34, 34);
    -fx-background-radius: 5px;
}

.settings-checkbox:hover > .box {
    -fx-border-radius: 5px;
    -fx-border-color: rgb(48, 48, 48);
    -fx-border-width: 2px;
    -fx-border-insets: -2px;
}

.settings-checkbox:hover:selected > .box {
    -fx-border-width: 0;
}

.settings-checkbox:selected > .box {
    -fx-background-color: rgb(33, 133, 233);
}

.settings-checkbox > .box > .mark {
    -fx-padding: 5px;
}

.settings-checkbox:selected > .box > .mark {
    -fx-background-color: white;
    -fx-padding: 5px;
    -fx-shape: "M437,644.327c-2.699,5.891 -8.32,9.908 -14.767,10.556c-6.448,0.647 -13.1,-1.939 -16.572,-7.41c-17.462,-27.514 -45.611,-65.565 -68.381,-93.822c-12.913,-16.025 -31.171,-26.821 -51.734,-27.67c-20.562,-0.849 -40.388,7.734 -53.839,23.31c-0.001,0.001 -0.002,0.002 -0.002,0.003c-2.012,2.329 -2.728,6.303 -0.319,8.218c25.752,20.467 108.292,137.066 159.327,216.251c10.202,15.83 29.643,23.128 48.337,20.846c18.693,-2.282 34.697,-14.462 41.901,-31.862c95.279,-230.128 193.795,-390.957 288.169,-537.286c1.964,-3.044 0.97,-7.127 -2.057,-9.119c-0,-0 -0.001,-0.001 -0.002,-0.001c-37.643,-24.776 -87.414,-6.56 -112.551,30.844c-78.061,117.887 -157.641,267.083 -217.51,397.142Z";
}

.servers-flow-pane {
    -fx-padding: 0 0 15 0;
}

.memory-slider .track {
    -fx-background-color: white;
    -fx-pref-width: 8;
}

.memory-slider .thumb {
    -fx-cursor: hand;
    -fx-background-color: rgb(33, 133, 233);
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

.memory-slider .thumb:hover {
    -fx-background-color: rgb(39, 84, 149);
}

.news-flow-pane {
    -fx-padding: 73 0 26 0;
}

.star-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-opacity: 0.4;
    -fx-cursor: hand;
}

.star-button:hover {
    -fx-opacity: 0.67;
}

.star-button:selected {
    -fx-opacity: 1;
}

.servers-state-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-opacity: 0.4;
    -fx-cursor: hand;
}

.servers-state-button:hover {
    -fx-opacity: 0.67;
}

.servers-state-button:disabled {
    -fx-opacity: 1;
}

.server-news-title-label {
    -fx-font-size: 18px;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.server-news-text-label {
    -fx-font-size: 16px;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.server-info-label {
    -fx-font-size: 16px;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.error-pane {
    -fx-background-color: rgb(160, 29, 40);
    -fx-border-radius: 11px;
    -fx-background-radius: 11px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
}

.error-label {
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
    -fx-font-size: 18px;
}