.news-pane {
    -fx-background-color: rgb(16, 19, 19);
    -fx-background-radius: 11px;
}

.news-time-label {
    -fx-font-size: 18px;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.news-text-label {
    -fx-font-size: 16px;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.read-more-hyperlink {
    -fx-padding: 0;
    -fx-font-size: 16px;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: rgba(255, 255, 255, 0.4);
    -fx-border-width: 0;
}

.read-more-hyperlink:hover {
    -fx-text-fill: white;
}