.server-pane {
    -fx-background-color: rgb(16, 19, 19);
    -fx-background-radius: 11px;
    -fx-cursor: hand;
}

.server-pane-server-name-label {
    -fx-font-size: 17px;
    -fx-font-family: "Montserrat SemiBold";
    -fx-text-fill: white;
}

.server-pane-server-online-label {
    -fx-font-size: 15px;
    -fx-font-family: "Montserrat Medium";
    -fx-text-fill: white;
}

.server-star-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-opacity: 0.4;
    -fx-cursor: hand;
}

.server-star-button:hover {
    -fx-opacity: 0.67;
}

.server-star-button:selected {
    -fx-opacity: 1;
}